@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


@theme {
    --color-surface: #0B0B0C;
    --color-background: #111827;
    --color-card: #1F2937;
    --color-primary: #1D4ED8;
    --color-primary-hover: #2563EB;
    --color-text: #F8F9FA;
    --color-subtext: #9CA3AF;
    --color-success: #10B981;
    --color-error: #EF4444;
    --color-footer-bg: #1c1d1e;
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto Condensed', sans-serif;
    --font-artifika: 'Artifika', serif;
    --font-space-mono: 'Space Mono', monospace;
  }